[2015-03-31 13:05] itsmephani opened #1 "LoadError - cannot load such file -- razorpay/bad_request_error:"
![razorpay](https://cloud.githubusercontent.com/assets/8447782/6919421/670ba186-d7d4-11e4-8710-9f2942c81909.png)
Getting LoadError - cannot load such file -- razorpay/bad_request_error: when capture failed

in file lib/razorpay/request.rb
change
require "razorpay/#{error['code'].downcase}"
to
require "razorpay/errors/#{error['code'].downcase}"
now it is getting response error object

[2015-03-31 13:32] #1 closed

[2015-03-31 13:34] captn3m0 commented on #1
Thanks for the report. I've pushed a fix at version 1.0.2.

:+1:

[2015-03-31 13:38] itsmephani commented on #1
Ok, No problem.

[2015-12-10 10:34] gadikotamohan opened #4 "Razorpay::Payment object status improvement"
When I capture authorized payment or refund captured payment from Razorpay::Payment object status is not changed.

for example

[code]

because of this I had to request razorpay api multiple times to check the status, if this is resolved I could minimize request to razorpay api.

[2015-12-10 10:39] captn3m0 commented on #4
Sounds reasonable.

[2016-02-24 14:09] mrudult opened #6 "OpenSSL error on OS X"
`OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed`

Tried almost everything. Updating certs from RVM, Homebrew as well as reinstall Ruby with RVM.

[2016-02-24 15:15] captn3m0 commented on #6
Thanks for the report. I'll take a look at this. If you could give your Ruby, rvm, and OS X versions that would be nice.

[2016-02-24 15:44] mrudult commented on #6
Ruby - `ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14]`
RVM - `rvm 1.26.11 (latest)`
OS X - `10.11.3 (15D21)`

[2016-02-24 17:56] captn3m0 commented on #6
Thanks a lot. I'm able to reproduce the bug with the same Ruby version. Will take a look tomorrow and figure out why it's failing.

[2016-02-24 17:57] mrudult commented on #6
It works fine on Ubuntu with the same Ruby version.

[2016-02-25 11:11] captn3m0 commented on #6
I'm going to bundle the ca-certificate file since it seems httparty can't find it reliably on OS X.

[2016-02-25 12:58] mrudult commented on #6
Also why not provide an option of `verify: false` in the HTTParty request option.

[2016-02-25 13:06] captn3m0 commented on #6
That is terribly insecure.

[2016-02-25 14:06] mrudult commented on #6
It works now!
Thanks for the quick patch.

Can you publish the updated gem?

[2016-02-25 14:13] captn3m0 commented on #6
I'm currently working on Ruby SDK support for the new orders API that we just announced. I'll release the updated gem with both tonight.

[2016-02-25 15:54] captn3m0 commented on #6
Just published `1.1.0`: https://rubygems.org/gems/razorpay

[2016-02-25 15:54] #6 closed

[2016-04-02 11:28] captn3m0 opened #8 "payment.method does not work properly"
Since Ruby has a `method` method on the [Object class](http://ruby-doc.org/core-2.2.3/Object.html#method-i-method), trying to call `payment.method` to get the payment method (card|...) does not work properly.

A workaround is to do the following:

[code]

[2016-04-02 11:50] vamsipavanmahesh commented on #8
The exact error is wrong number of arguments 0 for 1.

[2016-04-02 12:03] captn3m0 commented on #8
A possible solution is to override the `method` method itself in our Class. However, that would make our class slightly less extendable.

[2016-10-21 07:36] varun-raj opened #9 "uninitialized constant Razorpay::Order"
When I tried to create an order from rails console, I'm getting this error.

[2016-10-21 07:38] captn3m0 commented on #9
Can you try `require 'razorpay/order'` in the console?

[2016-10-21 11:58] varun-raj commented on #9
Yup it works :D :D

[2016-11-14 11:45] guinex opened #12 "Httparty 0.13 Dependency issue"
We are using httparty 0.8 and razorpay has dependency on 'httparty', '~> 0.13'
Therefore I`m getting an error while installing bundle. Changing the dependency to httparty 0.8 solves my problem!. Will this change affect any other aspect?

[2016-11-14 12:32] captn3m0 commented on #12
HTTParty `0.8.0` was released September 13, 2011.

I wouldn't recommend relying on such an old version.

[2016-11-14 12:36] #9 closed

[2016-11-14 12:36] captn3m0 commented on #8
This was closed with https://github.com/razorpay/razorpay-ruby/commit/87ec9304f23d829431eb893c76da142d74e19b29

[2016-11-14 12:36] #8 closed

[2016-11-22 18:41] arpansac opened #13 "'method' seems to be reserved in rails"
While accessing 'method' using razorpay_response.method it gives an error: ArgumentError Exception: wrong number of arguments (given 0, expected 1)

I think it should be changed or probably another solution is needed!

[2016-11-23 05:13] captn3m0 commented on #13
Payment.method was fixed a while back: https://github.com/razorpay/razorpay-ruby/blob/master/test/razorpay/test_payment.rb#L25

[2016-11-23 14:19] arpansac commented on #13
That doesn't seem to work, I still have to use payment.method_missing(:method) instead of payment.method

[2016-11-23 14:31] captn3m0 commented on #13
We need to push out a new release. Should be out by tonight :+1:

[2016-11-23 14:53] captn3m0 commented on #13
Pushed out https://rubygems.org/gems/razorpay/versions/1.2.0

[2016-11-23 14:53] #13 closed

[2016-12-22 06:45] manuqwe opened #16 "Not able to use order API"
Says Razorpay::Order is uninitialized constant, however the Razorpay::Payment is working fine.

[2016-12-22 06:54] akshaybhalotia commented on #16
Hi @manuqwe

Please add `require 'razorpay/order'` to the file `razorpay.rb` and it should work.

We have fixed this in our code and would be soon releasing an updated gem with this fix.

[2016-12-22 07:04] manuqwe commented on #16
Thanks Akshay,

Works like a charm, please add in the documentation. (y)

[2016-12-22 07:04] #16 closed

[2016-12-22 07:20] akshaybhalotia commented on #16
No need for that @manuqwe , we are going to update the gem very soon.

[2016-12-26 13:09] captn3m0 opened #18 "Handle server being unrechable"
We should raise a ServerError in such cases?

[2016-12-26 13:20] akshaybhalotia commented on #18
You mean 5xx?

[2016-12-26 13:25] captn3m0 commented on #18
5xx is already handled. API returns a error key in that case, and we parse it correctly. Pasting a error report we received:

<details>
<summary>undefined method `key?` for nil:NilClass</summary>

When we are trying to get payment object to mark it capture using this code
`Razorpay::Payment.fetch(pmt_id) `
We got this error "undefined method `key?' for nil:NilClass"

Here is the trace of error wit

[2017-01-30 05:14] Sonaliraj opened #19 "order details are not getting saved in rails5.1."
I have downloaded sample application razorpay from this url https://github.com/devathon/razorpay-rails-sample-app. In this application you have used Rails 4 but I am using Rails 5.1. But order details are not getting saved into database in rails5.1. So, Could you please tell me why it is not getting saved in rails5.1?

[2017-01-30 05:54] #19 closed

[2017-01-30 06:31] #12 closed

[2017-02-08 08:58] Samarththebox opened #20 "NameError: uninitialized constant Razorpay::Customer"
When I write on console..

customer = Razorpay::Customer.create email: 'test@abc.com', contact: '9876543210'

it shows me an error: NameError: uninitialized constant Razorpay::Customer

[2017-02-08 09:02] captn3m0 commented on #20
Please put `require 'razorpay/customer` before where you want to use the customer class

[2017-02-08 09:17] Samarththebox commented on #20
Thanks @captn3m0 Ideally razorpay class should load all nested classes.

[2017-02-08 09:19] captn3m0 commented on #20
Agreed, we faced the same issue with #10 earlier. Will try to take care of this from future releases.

Will close this once I push out a new release for this

[2017-02-08 09:21] Samarththebox commented on #20
Even I can create a PR for that.. will add `require 'razorpay/customer'` and `require 'razorpay/invoice'` to razorpay.rb

[2017-02-08 09:28] captn3m0 commented on #20
Feel free to :100:

I can merge and push out a new release :+1:

[2017-02-08 11:18] harman28 commented on #20
Fixed in #21

[2017-02-08 11:18] #20 closed

[2017-02-12 07:50] anmolarora opened #23 "ActiveRecord::UnknownAttributeError: unknown attribute: entity"
[code]

[2017-02-13 06:45] captn3m0 commented on #23
Is the application source available somewhere? Active Record should not be getting called from the razorpay gem.

[2017-02-13 16:43] anmolarora commented on #23
No, it's not available anywhere. I'm able to capture payments without any error.
I'm trying to fetch all payments using below code then I'm getting the above-mentioned error.

What could be the possible scenario which is causing this error?

[2017-02-14 06:55] captn3m0 commented on #23
Does it happen on every `.all` call? Because the stacktrace shows `Order.all` being called.

[2017-02-14 19:45] anmolarora commented on #23
Yes @captn3m0, It's happening for all `.all` calls.

[2017-02-17 11:16] anmolarora commented on #23
@captn3m0 Did you get any clue what might be happening that I'm getting this error?

[2017-02-17 11:32] captn3m0 commented on #23
No. My guess is that ActiveRecord might be overriding something on Object, and we should ideally work around that. We've made some changes in this regard on #25.

Would it be possible to try out the current master?

Otherwise, I'm planning to setup a new test project with activerecord, but that might take some time.

[2017-02-17 17:53] anmolarora commented on #23
Ok, @captn3m0. I'll try out the master and let you know if my problem is solved.

[2017-02-17 17:59] anmolarora commented on #23
@captn3m0 So, I tried the current master and it's working fine in development. Is current master safe for  using in production?

[2017-02-18 07:57] captn3m0 commented on #23
Yes, it is. We have one minor development concern (involves upgrading a test env dependency) that we need to get through before making a new release.

Once that release is out, I'll update on this thread and you can shift to that instead.

[2017-02-18 18:14] sridharraman opened #27 "Unable to access certain classes within Razorpay module"
Certain classes, such as `Invoice`, `Card`, `Customer` within the Razorpay module as not accessible.

I get the following errors:
NameError: uninitialized constant Razorpay::Card
NameError: uninitialized constant Razorpay::Invoice
NameError: uninitialized constant Razorpay::Customer

The other classes, such as `Order`, `Payment`, etc. are working fine.

I tried going through the code, but couldn't

[2017-02-18 18:28] captn3m0 commented on #27
The latest master is not yet released. We've tacked this recently, and you have two options:

1. Wait for our new release which should be out in a couple of days.
2. Implement our suggested fix (require `razorpay/{order|customer|invoice}`). See #9, #16 for previous discussions.

Card was not present in the 1.2.1 release: https://github.com/razorpay/razorpay-ruby/tree/1.2.1/lib/razorpay, so if you

[2017-02-18 18:36] sridharraman commented on #27
Thanks @captn3m0

I will use the second option.

[2017-02-18 18:36] #27 closed

[2017-02-19 04:02] #23 closed

[2017-05-10 18:13] mrudult opened #31 "verify_payment_signature doesn't work. Use Rack::Utils secure compare instead."
The [secure_compare](https://github.com/razorpay/razorpay-ruby/blob/master/lib/razorpay/utility.rb#L33) I think is faulty. I might be wrong.
I tried using the `verify_payment_signature` method provided by the library to verify my signatures from `Orders API` but it would always raise `SecurityError` error.

I wrote the verify_signature method myself (which I had previously written for Webhook chec

[2017-05-11 06:44] captn3m0 commented on #31
We can't rely on Rack, since not everyone will have it. Thanks for the report, I'll be looking into this

[2017-07-17 08:57] harman28 opened #35 "[Utility] Webhook validation assumes secret is merchant API secret"
We need to allow custom secrets as well

[2017-07-18 09:06] harman28 commented on #35
Closed via #36

[2017-07-18 09:06] #35 closed

[2017-08-30 05:55] binkkatal opened #40 "Razorpay capture payment"
Is there any possibility that during payment capture any error will occur??

[2017-08-30 05:59] akshaybhalotia commented on #40
Yes, there could be errors. Examples are authorization error due to invalid keys, or amount mismatch between payment request and capture request.

[2017-08-30 11:10] binkkatal commented on #40
Are there any other cases apart from the above mentioned errors on production?

[2017-08-30 11:50] akshaybhalotia commented on #40
Though rare, there could be. May I ask what do you need this for, as in what kind of functionality are you trying to build on this? This would help us answer your question better.

[2017-08-30 13:22] binkkatal commented on #40
Its for the negative case that in case if the capture fails or gives an error , i can opt for an option to retry again in the app

[2017-08-31 06:50] akshaybhalotia commented on #40
In such cases, you can check for the response code. Anything other than 200 is an error, and would certainly require human eyes. Hence, setup an alert on anything other than 200 and log the field `error_description`. This description is quite helpful, and most of the times helps resolve the error.

[2017-08-31 07:05] binkkatal commented on #40
The explanation answers my query ,
Thanks for the help Akshay :)

[2017-08-31 07:06] #40 closed

[2017-10-21 20:52] harman28 commented on #31
@mrudult Sorry for the lack of response here. Are you still getting this error?

[2017-10-22 06:37] #18 closed

[2017-12-01 06:21] pikender opened #50 "[Discussion] Subscription Create with addons fails and the solution"
**Subscription create with upfront fees as addons fails**

## Scenario

* Subscription Api allows sending addons while creating subscriptions as a way to charge upfront fees
* When addons are passed with subscriptions, it fails with error `The item id field is required when item is not present.`. In the api request params, it can be seen that addon attributes are passed as desired.
* When custom h

[2017-12-18 08:04] #31 closed

[2017-12-24 06:45] pikender commented on #50
@captn3m0 @StSarc any feedback here ?

is there any consideration of changing it in _Razorpay Apis_ ?

[2018-01-04 10:14] akashdevaraju opened #52 "Invoice::Create API"
So, i'm able to create invoices using the basic syntax as so:
[code]
How do I include name and email for the customer in this syntax.

[2018-01-05 12:27] pikender commented on #52
@akashdevaraju does below request answers your question ?

[code]

[2018-01-09 07:15] akashdevaraju commented on #52
Works! thanks a bunch @pikender

[2018-01-09 07:15] #52 closed

[2018-01-15 14:14] pbharadiya opened #53 "Need a provision to create/update subscription using the gem"
Hi,
We are testing out razorpay as our payment gateway. One of the features that we seek is subscription creation and updating using ruby-gem. Is it possible to do so?

[2018-01-22 11:04] leenasn opened #55 "Routes API"
How can I initiate the [Routes API] (https://razorpay.com/docs/route/api-reference/) through this gem? I want to initiate a transfer for a payment as mentioned in the API:

https://razorpay.com/docs/route/api-reference/#funds-movement-in-linked-accounts

Thanks,
Leena

[2018-01-23 07:09] pikender commented on #55
@leenasn Route Api endpoints are not part of official SDK yet.

You can take inspiration from [here](https://github.com/razorpay/razorpay-ruby/pull/45/files#diff-9c197929ec3af958ad9e3e0096e981baR38)

Let me know if that helps :)

[2018-01-23 07:21] pikender commented on #53
@pbharadiya Subscriptions Apis are still not part of official SDK yet but there is a [PR](https://github.com/razorpay/razorpay-ruby/pull/48) pending to be merged for the support.

In the meanwhile, you can use my [fork](https://github.com/vibrantstack/razorpay-ruby/tree/f/subscriptions) to get you started.

Adding below in your Gemfile should activate the needed magic :)

[code]

Refer above [PR](

[2018-01-24 04:41] tessie commented on #50
@pikender  That is a really valid feedback. Thank you for pointing the issue. I think

-  we should override httparty default behavior and set content type as json and configure  params as json

[2018-01-25 07:16] harman28 commented on #53
Hi @pbharadiya
Subscriptions support will be added to this gem shortly (we're aiming for a release this week), thanks to the efforts of @pikender. If you'd rather not wait, please feel free to use [mentioned fork](https://github.com/vibrantstack/razorpay-ruby/tree/f/subscriptions), but please keep checking back in for updates!

[2018-01-29 13:47] harman28 commented on #53
Added in [v2.2.0](https://github.com/razorpay/razorpay-ruby/releases/tag/2.2.0)

[2018-01-29 13:47] #53 closed

[2018-02-02 10:01] pbharadiya opened #57 "Need a provision to edit customer's card details"
Hello Team,

We would like to have a provision to edit customer's card details via customer id.
Flow could be as follow:
1. We will ask customer to provide card details that they want to update. (On failed subscription or to update card details)
2. We will send API request to Razorpay to authenticate new card details.
3. On successful authorisation, Razorpay would send success message and we will

[2018-02-02 10:04] pbharadiya opened #58 "Need a provision to charge customer's card on failed subscription"
Hello Team,

We want to charge customer's card after it is authenticated. Scenario could be when there is a failed subscription.

Let me know if there is already a way to achieve this.

[2018-02-07 11:17] pbharadiya opened #59 "Need a provision to get all invoices data under subscription via API"
Hello Team,

How can we fetch all the invoices created (along with add-ons data if any) for one subscription?

Can you provide provision to fetch all the invoices on subscription? Something like @subscription.invoices?

[2018-02-27 11:49] pikender commented on #57
@pbharadiya I fail to find the reference in docs but whenever a charge is failed on the subscription card, customer gets a mail for failed charge and in that mail, there is a link through which customer can either change the card or activate the card again ( for e.g. if charge failed due to insufficient balance or some temporary hiccup with given card )

![failed-razorpay-subscription-charge-1](ht

[2018-02-27 11:54] captn3m0 commented on #57
Sorry about the delay here. We try to only keep ruby-SDK related issues here and this got missed out.

@pbharadiya Sending you an email regarding this.

@pikender thanks for popping this thread :+1:. I'm marking this as closed and taking it over email instead.

[2018-02-27 11:54] #57 closed

[2018-02-27 11:55] pikender commented on #58
@pbharadiya https://razorpay.com/docs/subscriptions/testing/#manually-charging-an-invoice

I guess you have already seen the above but still adding as reference. Currently, charging the failed subscription is manual and Razorpay dashboard has to be used. Though, Razorpay has plans to add an api for same but no known ETA for it

Let me know if above answers your question or give me more context, ma

[2018-02-27 11:58] pikender commented on #59
@arorasaka @captn3m0 it would be great, if you can leave a link of updated documentation or the gist of it here also for future seekers for same question :+1:

[2018-03-06 17:59] neerajgupta2407 opened #60 "Razorpay::Payment.fetch(payment_id).capture({amount:amount}) throwing error."
Getting the payment object from razorpay but when trying to capture it, it throws error.
[code]
Error
[code]

[2018-03-07 06:38] #60 closed

[2018-04-01 07:59] pikender commented on #58
@pbharadiya did above helped ?

[2018-04-10 18:17] vik-y opened #62 "Virtual Account API not working"
[code]
I am using razorpay gem version `2.2.0`

[2018-04-11 08:43] vik-y commented on #62
Any idea what's wrong with this?

[2018-04-20 08:52] harman28 commented on #62
@vik-y Could you share the key id you're using to make this request? It appears that Smart Collect may not be enabled for this account. You should be able to enable this in test mode from your Razorpay dashboard.

[2018-04-20 09:30] harman28 commented on #4
Finally sorted with the introduction of bang! methods in #44

[2018-04-20 09:30] #4 closed

[2018-04-20 09:33] vik-y commented on #62
Yes, that's exactly what the issue was. Razorpay support helped us fix it within 24 hours. Thankyou.

[2018-04-20 09:33] #62 closed

[2018-05-05 06:28] srikanthcx commented on #55
Hi @leenasn,
I want to use Route API service using this gem. Can u please provide some sample code how we can create a transfer request from this gem.

I have tried with above solution, here my code.

`Razorpay::Payment.fetch(payment_id).create_transfer(account_id: transfer_id, amount: 8000)`

I was getting below error.
Razorpay::BadRequestError: account_id, amount is/are not required and should n

[2018-05-05 07:05] leenasn commented on #55
Hi @srikanthcx I didn't the PR as @pikender suggested. Instead used HTTP calls. The params I am passing are:

- transfers[0][account]
- transfers[0][amount]
- transfers[0][currency]

Hope this helps.

[2018-05-05 07:09] srikanthcx commented on #55
Thanks, @leenasn

[2018-05-25 19:04] neerajgupta2407 opened #65 "Getting error "The addons may not have more than 5 items.""
When i am hitting the Subscription Create API from postman(/v1/subscriptions), its successfully executing the request
But when same data i am passing through Razorpay Ruby library, its throwing exception.
` Razorpay::Subscription.create(data)`

Response:

Request Data

`{"plan_id":"plan_AFQOIFJkuhkzNl",
 "customer_notify":1,
 "total_count":10,
 "addons":
  [{"item":
     {"name":"Keto Bundle - Bun

[2018-06-25 12:54] rubish opened #66 "Allow using multiple merchant accounts in a single project"
Its convenient that all the API calls and entities of razorpay can be accessed using class methods, but the design makes heavy use of class variables. Class variables should be frowned upon because they are not thread safe. Moreover, despite everything implemented as a classes; usage is mostly as if these were modules. Currently no instances can be created which can be configured at runtime.

Ther

[2018-07-02 12:02] arpansac commented on #13
Long time, forgot to say thanks for the instant support @captn3m0 !

[2018-07-19 10:19] sumandroid opened #67 "ArgumentError: wrong number of arguments (given 2, expected 1)"
Whenever I create subscription through the gem, subscription is created but there is an argument error that I get which says:

**ArgumentError: wrong number of arguments (given 2, expected 1),
from /Users/test/.rvm/gems/ruby-2.3.3@gor/gems/razorpay-2.3.0/lib/razorpay/entity.rb:17:in `method_missing'**

maybe you are passing two arguments to the method_missing method which is only expecting 'name'.

[2018-07-26 10:32] harman28 commented on #58
As @pikender said, the current way to do this is via manual charge of an older invoice via dashboard.

Closing the issue due to inactivity.

[2018-07-26 10:32] #58 closed

[2018-07-26 14:13] sumandroid commented on #67
Hey Harman,
I am using the create method of Subscription class simply like:
Razorpay::Subscription.create(plan_id: 'plan_AXR7uMtDezLa234',
                                                      start_at: 1532700506,
                                                      total_count: 120,
                                                      customer_notify: 1)
and in return i get the following respo

[2018-07-27 06:33] harman28 commented on #67
@sumandroid Tried checking our logs for your request, but couldn't find any. On a related note, the plan_id you're sending appears to be invalid, in that it does not exist in live or test mode. Could you share your merchant id so I can have a look at all of your requests?

We could also move this conversation to a mail thread with support@razorpay.com if you prefer that.

[2018-08-01 09:49] sumandroid commented on #67
@harman28 I tried creating the subscription through restclient post API call to razorpay. It was successful.

[2018-08-01 10:17] harman28 commented on #67
Alright. Closing this, please feel free to reopen if you face issues or you could write to us too.

[2018-08-01 10:17] #67 closed

[2018-10-10 12:08] #50 closed

[2018-12-24 10:34] mahidharc opened #70 "Payment link create API requiring line_items"
I'm using the razorpay 2.3.0 gem. When I try to create a payment link, it gives me an error.

[code]

This gives me the following error.

[code]

However, the [documentation](https://razorpay.com/docs/payment-links/api/#creating-payment-links) for this does not specify anything regarding line items. Please let me know how I can  modify my request, so that I can generate payment links.

[2019-01-22 18:19] radhika-tk opened #71 "test issue"
this is a test issue to check the integration with slack. please ignore

[2019-01-22 19:08] radhika-tk commented on #70
@mahidharc : Thanks for bringing this to our attention. Will update you soon on this.

[2019-01-28 18:07] arun-okcredit commented on #70
Hi,
I'm facing the same problem trying to create a payment link. Please let me know the status.

[2019-02-01 08:05] mahidharc commented on #70
Hey,

Right now I am not using the SDK in our project. I'm just calling the REST API directly using RestClient, since that seems to be working properly.

But if you need any information regarding the context of the SDK, then I can provide you with more information. I tried using the `Razorpay::Invoice.create` method in IRB directly, after initializing the SDK, and that was the error I received. If

[2019-02-01 10:44] arun-okcredit commented on #70
Thanks a lot.
-
Arun

On Fri, Feb 1, 2019 at 1:35 PM mahidharc <notifications@github.com> wrote:

[2019-02-13 07:32] dharshann opened #73 "`verify_payment_signature` always return `nil`"
Here is my `verify_payment_signature` input. I always end-up getting `nil` as verification state.

[code]

I can check payment state as **paid**
[code]

And payment status is **captured**

[code]

[2019-02-13 07:34] darshand commented on #73
Found a pretty small bug and sent a PR

[https://github.com/razorpay/razorpay-ruby/pull/72](https://github.com/razorpay/razorpay-ruby/pull/72)

[2019-03-05 11:38] vjnvisakh commented on #70
"line_items": is/are not required and should not be sent

What is this.
Getting is this while creating invoice.

[2019-03-20 14:11] sudhirj opened #74 "Use as a Partner (Platform)"
Does the gem support usage by a Partner? Let’s say I do the Razorpay OAuth and get an access token as defined here
https://razorpay.com/docs/oauth/access/#bearer-authorization

Could I just set the access token in the authorisation header and use it? Would be great if we can get official clarification on that.

[2019-03-27 19:15] #74 closed

[2019-03-31 09:10] harman28 commented on #73
@dharshann This is the expected behaviour. The function isn't supposed to return anything usable, its purpose is to throw an exception if the verification fails. You can just call it in your code before using the payment response.

[2019-03-31 09:11] #71 closed

[2019-03-31 09:13] harman28 commented on #66
Thanks for the suggestion @rubish! This is actually a pretty sound idea, and we would like to implement it. It would naturally involve a bit of a refactor and new major release, but it seems worth it. We're not going to be picking this up immediately, but you can feel free to raise a pull request if you're interested in working on this!

[2019-04-01 02:48] dharshann commented on #73
@harman28  In ruby `nil` means to `falsy`. Expecting a verification method to return a `falsy` output would't mean action got failed?

[2019-04-01 05:20] harman28 commented on #73
I tried addressing that in my comment on the PR as well. The function doesn't return anything (nil is what you get if the method you're calling doesn't have an explicit return value), so you shouldn't be checking the response for truthy-ness or falsy-ness (as in `status = `). You should just call the method, and if executes successfully, carry on.

I understand that the README currently doesn't ma

[2019-04-01 05:21] harman28 commented on #73
On second thoughts, I see no actual harm in returning the verification status as well. Yes, it'll always return true, but as you said, that's a lot better than returning `nil`, which can be mis-interpreted.

Let's work on getting #72 merged :)

[2019-04-08 11:21] Deena-D-Cutinha opened #77 "Error in creating a plan#The interval field is required."
![Screenshot from 2019-04-08 16-39-57](https://user-images.githubusercontent.com/32517541/55720466-877ac700-5a1e-11e9-8d24-40fa06adb6c0.png)

[2019-04-09 06:19] dharshann commented on #73
Thanks @hemanth132 .

[2019-04-09 06:19] #73 closed

[2019-04-09 06:24] harman28 commented on #77
@Deena-D-Cutinha I'm not able to understand the problem from this screenshot. Could you add more details to the issue? Perhaps a sample of the code you were executing, or else instructions for how to reproduce it?

[2019-04-09 06:49] Deena-D-Cutinha commented on #77
@harman28 When ever i try to create a plan it throws  a error saying interval is required.
code snippet:
plan = Razorpay::Plan.create interval: 1, period: 'monthly', item: { name: 'fake_plan', description: 'fake_desc', currency: 'INR', amount: 500 }, notes: { identifier: 'plan_monthly_super' }

[2019-04-09 06:59] harman28 commented on #77
Could you share your Ruby version, gem version, and Razorpay merchant ID?

[2019-04-09 07:07] Deena-D-Cutinha commented on #77
ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux],
gem razorpay (2.3.0)
Razorpay merchant ID: 9JqJdm7UwMGHPd

[2019-04-09 07:29] harman28 commented on #77
Not able to recreate this, even with the same setup. However, I did take a look at our production logs and saw that the requests we're receiving for this are completely empty.
<img width="328" alt="Screenshot 2019-04-09 at 12 55 38 PM" src="https://user-images.githubusercontent.com/4201494/55780988-ccf2cf00-5ac6-11e9-9059-9e44de2cff16.png">

Some more questions:
- Are you facing this kind of error

[2019-04-09 07:48] Deena-D-Cutinha commented on #77
Thank you @harman28
It worked.
I removed Razorpay.headers = {"Content-Type" => "application/json"}  from development.

[2019-04-09 07:50] harman28 commented on #77
Glad we were able to fix this.

[2019-04-09 07:50] #77 closed

[2019-04-09 08:55] askamist opened #80 "`verify_payment_signature` implementation for Subscription is wrong and does not work."
In the case of `Subscriptions`, the order in which `razorpay_payment_id` and `subscription_id` are joined is wrong. I don't know why Razorpay has implemented it in reverse order compared to orders API.

But `verify_payment_signature` is not working properly for `Subscriptions`.

refer to this [link](https://razorpay.com/docs/subscriptions/api/checkout-integration/#payment-verification)

[2019-04-09 10:10] harman28 commented on #80
This is a good catch @askamist, thanks for pointing it out. I'll get this fixed right away.

[2019-04-09 10:34] harman28 commented on #80
@askamist This is fixed and released in our [latest version](https://rubygems.org/gems/razorpay/versions/2.4.1). Thanks for your help!

[2019-04-09 10:34] #80 closed

[2019-04-10 06:12] Deena-D-Cutinha opened #83 "Error while creating a invoice"
I am able to create a invoice with the type 'link' as per the syntax given.
But when i try to change the type to 'invoice' it throws a error.

code snippet:
invoice = Razorpay::Invoice.create type: 'invoice',customer_id: "cust_CHYKFUnfRjWbEj", line_items: [{item_id: "item_CHYCYqNuYFviS2" }], currency: 'INR',sms_notify: "1",email_notify: "1"

[2019-04-10 07:10] harman28 commented on #83
@Deena-D-Cutinha What is the error message in the response you are receiving? Usually the message is enough to explain what the issue might be. Let me know if this is not the case.

[2019-04-10 07:17] harman28 commented on #70
@mahidharc

- Are you facing this kind of error only for invoice creation requests, or for all requests sent using this gem?
- Are you explicitly setting `Razorpay.headers` anywhere in your code, and are you overriding the `Content-Type` header? If so, what value are you using?

[2019-04-10 07:21] harman28 commented on #70
@arun-okcredit Same questions^ for you. I suspect you're setting content type explicitly to application/json (or something else) somewhere in your code, which is stopping the server from being able to read the input.
This is supported by the fact that the error you're getting is the same as what you'd get if you sent a completely empty request.

For now, try removing the explicit setting of `Conte

[2019-04-10 07:43] Deena-D-Cutinha commented on #83
Error:invoice can only use item of one of following types: invoice

[2019-04-10 07:55] harman28 commented on #83
Hope that clears it up then. The line_item that you're using (`item_CHYCYqNuYFviS2`) here is an item of type 'plan'. You can only use items of type 'invoice' while creating an invoice.

I've noted that this is not explicitly mentioned in the documentation for [creating an invoice](https://razorpay.com/docs/invoices/api/#creating-an-invoice). I'll try and get that updated.

[2019-04-10 07:55] #83 closed

[2019-04-26 10:55] harman28 commented on #70
Closing this, as I think it's the same as the issue described in #77. Try [this](https://github.com/razorpay/razorpay-ruby/issues/77#issuecomment-481141633) and that should clear this up.

If anyone's still facing this error and removing Content Type doesn't help, please feel free to reopen the issue.

[2019-04-26 10:55] #70 closed

[2019-05-03 11:24] abizerlokhandwala opened #85 "Create a Fetch All Plans method for RoR"

[2019-05-03 11:40] harman28 commented on #85
@abizerlokhandwala Is `Razorpay::Plan.all` not working for you?

[2019-05-03 11:52] abizerlokhandwala commented on #85
Was not mentioned in the documentation, did not know that it works. It would be great if you added a list of functionalities and methods that do work for RoR, thanks!

[2019-05-03 11:52] #85 closed

[2019-05-03 11:55] harman28 commented on #85
You're right, there are quite a lot of functions not mentioned in the README. I'll try and get them added, or if you get time you're welcome to raise a PR as well. Thanks again!

[2019-06-03 16:44] imdkbj commented on #77
Hi, I am using the Google App script to generate the payment but getting the same error of line times.

The following code worked.
`function loginflow(){
  var headers = {"Authorization" : "Basic " + Utilities.base64Encode(keyid + ':' + key)};
  var params = {
    method:"GET",
    headers:headers
  };
  var response = UrlFetchApp.fetch(encodeURI(url), params);
  Logger.log(response.getResponseCod

[2019-06-03 18:31] harman28 commented on #77
@imdkbj The error is what you'd get if you sent a blank request for invoice creation. Your first example works because there's no body for the GET request. Your second example has the creation body mixed up with the options for `UrlFetchApp.fetch`, which is why I think it's failing. You should be sending the creation request under `options['payload']`.

If your problem persists, could you report i

[2019-07-25 07:33] Nisthar commented on #55
@leenasn My question is not related to this library. But is there a way to create linked accounts via api rather than adding them manually?

[2019-07-25 07:37] srikanthcx commented on #55
@Nisthar Razorpay don't have API for the accounts creation.

[2019-07-25 07:41] Nisthar commented on #55
@srikanthcx thats bad. its useless without an api.

[2019-07-26 07:01] harman28 commented on #55
@Nisthar We'd expected that accounts are generally created asynchronously and used in your app later. If you need to create accounts in bulk, that too is doable via the portal.

However, if you're having to create accounts in real-time, then this might be a new use case that we'd like to know more about. Would you mind raising this request on [our support portal](https://razorpay.com/support/)? We

[2019-08-29 10:23] dharshann opened #86 "Integrate sub merchant"
How would you suggest using this library for both normal and a sub-merchant account transactions?

Currently `razorpay-ruby` gem is setup-ed with an initializer with single user/merchant's credentials.

Is it a good way to explicitly setup/override Razorpay with sub-merchant's credentials wherever we are require sub-merchant instance
[code]

[2019-08-29 11:42] harman28 commented on #86
@dharshann It's been [called out before](https://github.com/razorpay/razorpay-ruby/issues/66) that this gem isn't thread-safe, i.e. because the config is set just once and reused by all functions, it's not possible to use multiple merchant accounts in the same app. There are hacks that might work (maybe a local clone of the gem, after which the 2 gems can be used for separate accounts), but essent

[2019-08-29 11:43] harman28 commented on #86
I'd like to close this as basically a duplicate of #66. Let me know if this^ answers your question.

[2019-08-29 11:49] dharshann commented on #86
@harman28 didn't see the open issue. Hoping to see suggested changes in new release.

[2019-08-29 11:49] #86 closed

[2020-01-02 13:42] saurabhnanda opened #89 "Razorpay::Utility.verify_webhook_signature not working as expected"
Requestbin - http://requestbin.net/r/zqlgjlzq?inspect

[code]

PS: The secret is from our test account.

[2020-01-02 13:46] saurabhnanda commented on #89
Is this happening because of `@` in the secret?

[2020-01-02 13:47] captn3m0 commented on #89
Likely happening because you are parsing the JSON body, and then converting it to JSON again.

Please ensure that the `rzp` variable here is coming straight from your response body.

[2020-01-02 13:54] saurabhnanda commented on #89
using `request.raw_post` in the actual code.

On Thu, Jan 2, 2020 at 7:17 PM Nemo <notifications@github.com> wrote:

[2020-01-02 13:55] saurabhnanda commented on #89
Also, in the code shared above, it can be seen that the raw string is being passed to the function.

[2020-01-02 14:09] captn3m0 commented on #89
Are you still facing this issue? Can you create a support ticket at razorpay.com/support please?

I took the same body/signature/secret tuple and tried it on our Python SDK and it fails there as well, so looks like unrelated to the ruby SDK.

[2020-01-02 14:34] saurabhnanda commented on #89
It's because of `@` in the secret. We removed that and it worked.

On Thu, Jan 2, 2020 at 7:39 PM Nemo <notifications@github.com> wrote:

[2020-05-06 09:41] #89 closed

[2020-05-06 09:47] harman28 commented on #59
[Subscriptions APIs](https://razorpay.com/docs/api/subscriptions/) don't support this right now, so the plugin won't be able to add it either. Shared the feature request with the product team though.

[2020-05-06 09:47] #59 closed

[2020-08-02 20:12] fyodorfs opened #91 "Razorpay Integration on Spree commerce 4.1"
Razorpay Integration on Spree commerce 4.1

[2020-10-20 09:51] shivi-tyagi commented on #77
{
"customer":{
"contact":"7807278763",
"name":"shivi",
"email":"shivi.tyagi@squadrun.co"
},
"description":"For more information about Teleconference and Counseling process please click https://isaglobal.in/tele1.aspx",
"email_notify":1,
"currency":"INR",
"amount":10000,
"expire_by":1793630556,
"view_less":0,
"sms_notify":1,
"type":"link"
}

if i am using 1 in view_less it gives me the same error.

[2020-10-20 09:52] shivi-tyagi commented on #77
<img width="1442" alt="Screenshot 2020-10-20 at 3 21 29 PM" src="https://user-images.githubusercontent.com/73168204/96570465-09240400-12e8-11eb-9e67-7a33c40c4b30.png">

[2020-10-20 09:55] shivi-tyagi commented on #77
{
    "customer":{
"contact":"7807278000",
"name":"shivi",
"email":"shivi.tyagi@gmail.com"
},
"description":"For more information about Teleconference and Counseling process please click https://google.com",
"email_notify":1,
"currency":"INR",
"amount":100,
"expire_by":1793630556,
"view_less":0,
"sms_notify":1,
"type":"link"
}

[2020-10-20 09:56] shivi-tyagi commented on #77
I am facing this issue since last few days. instead of 0 in view_less if i write 1 then it is successful.

@harman28 can you please help here.

[2020-10-20 10:10] imdkbj commented on #77
Able to reproduce the error, It's a bug.

[2020-10-20 11:55] sriramraja2 commented on #77
@shivi-tyagi can you share the endpint you are using? also the MID. if you are using - https://api.razorpay.com/v1/payment_links/ - `type` and `view_less` are not needed. New contract - https://razorpay.com/docs/payment-links/api/new/create/ .

Share your MID also - I can recon internally.

[2020-10-20 14:06] shivi-tyagi commented on #77
End Point : https://api.razorpay.com/v1/invoices/

sorry not sure how i can share the MID! can you guys point it out to me in the right direction here

[2020-10-20 14:18] sriramraja2 commented on #77
In the legacy contract - view_less as 0 has had issues before. I would advise you to use the new contract - https://api.razorpay.com/v1/payment_links/ . Docs are at - https://razorpay.com/docs/payment-links/api/new/create/ . The. migration process is underway - you can still use it till Dec 31 2020 but at sometime you have to switch. The changes are limited and don't change the business logic.

[2020-10-20 14:41] shivi-tyagi commented on #77
@sriramraja2 this answer is quite unacceptable _**In the legacy contract - view_less as 0 has had issues before. I would advise you to use the new contract -**_

Without any proper notification our working API's stopped working.

In case of migration should we not get any prior notification. Our client’s API were falling resulting in serous business loss.

[2020-10-20 15:18] sriramraja2 commented on #77
@shivi-tyagi if you can share your MID - I can find out if any migration happened on your account. We can revert you to the earlier system in which you don't have to change a single key on your system. The integration will be as-it-is on the older system.

[2020-10-20 15:26] sriramraja2 commented on #77
@shivi-tyagi from what I see - view_less: 0 - would not have worked at any point in time. do let me know if you had an earlier successful integration with view_less as 0.

[2020-10-20 15:38] shivi-tyagi commented on #77
Yes we were using the same payload for 1 - 2 months now.

https://github.com/razorpay/razorpay-ruby/issues/77#issuecomment-712935096

[2020-10-20 15:48] sriramraja2 commented on #77
@shivi-tyagi it will help us to debug the issue if you can share MID - we can rule out accoutn specific issues as well. you can email here - apps-apimigration@razorpay.com  . I will use the MID to also check the incoming API requests with teh view_less and accordingly debug from there.

[2020-10-20 16:19] shivi-tyagi commented on #77
Have sent the MID in email.

[2020-10-20 16:21] sriramraja2 commented on #77
Thanks

[2020-10-25 04:41] tannakartikey opened #93 "verify_payment_signature does not throw error if wrong attributes are passed"
By mistake I passed `signature` instead of `razorpay_signature` to [`verify_payment_signature`](https://github.com/razorpay/razorpay-ruby/blob/2ef2a200e70fb7034c212673569cbba378a2ced6/lib/razorpay/utility.rb#L6-L8). Code failed under `secure_compare(a,b)` with error that method `bytesize` not available on `nil`.

I think it should fail straight away under `verify_payment_signature`

Something like

[2020-11-25 06:02] #55 closed

[2020-12-16 14:12] imi56 opened #100 "Razorpay::BadRequestError: The plan id field is required"
While creating a subscription plan this error is thrown.
[code]
The interesting outlook is the following request works for the same request data.
`Razorpay::Request.new("plans").post("", data)`
I'm wondering how can plan id be required while creating the plan.
Help needed.

[2021-01-30 02:12] hiteshranaut opened #104 "How to pause a subscription using sub id in sdk?"
is there any proper documentation for all functions available in this sdk?

[2021-01-30 02:53] #104 closed

[2021-01-30 02:54] hiteshranaut commented on #104
Razorpay::Subscription.request.post '#{sub_id}/pause'

[2021-10-04 11:11] abnair1982 opened #119 "Proper language specific documentation missing."
I was searching for documentation for routes(https://razorpay.com/docs/api/route/). All examples are for curl.

It would be great if you could provide documentation specific to the language. For example a proper documentation for ruby gem, python  package etc. In your document pages you have given following examples for ruby
1) For fetching payments:
Razorpay::Payment.fetch("pay_29QQoUBi66xm2f")
2

[2022-05-23 18:25] anto-beslie-zynerd opened #152 "in order 100x of actual"

[2022-05-23 18:28] anto-beslie-zynerd commented on #152
When fetching Payment or Order details through functions, like Razorpay::Payment.fetch('payment_id'), the amount returned in the Payment object is always 100 times the actual amount.
Any reason for doing this?

[2022-06-08 15:39] megatux commented on #66
Any updates on this?

[2022-06-13 11:36] yogeshmuthuraj opened #159 "Razorpay::ServerError (We are facing some trouble completing your request at the moment. Please try again shortly.):"
Razorpay::ServerError (We are facing some trouble completing your request at the moment. Please try again shortly.):

For Razorpay::QrCode.create(para_attr.to_json)

[2022-06-29 07:39] Renatinaveen commented on #159
@yogeshmuthuraj you have any updates on this?

[2022-11-10 11:08] ankitdas13 commented on #159
@yogeshmuthuraj Sorry for the long delay. Could you let us know if this issue has been resolved. If not, then please let us know because we have to tried this from our end and it working.

<img width="594" alt="Screenshot 2022-11-10 at 4 19 49 PM" src="https://user-images.githubusercontent.com/89454448/201074856-b1fe7708-703c-4147-a522-1e4658d199ae.png">

[2022-11-10 11:15] ankitdas13 commented on #152
@anto-beslie-zynerd apologise for the late response. Could you let us know if this issue has been resolved? If not, please let us know and it would be helpful if you share the `currency` or response of that payment id.

[2022-11-10 11:27] ankitdas13 commented on #119
Hi @abnair1982 apologise for the long delay. The documentation for all SDK'S is provided on a regular basis as of now. You can also find the supported API'S code snippet inside the documents folder, it includes all parameters and response.

[2022-11-10 12:04] ankitdas13 commented on #100
Hi @imi56 apologise for the long delay. I hope this issue has been fixed. when creating a subscription, `plan_id` must be provided.
Refer to this [document](https://razorpay.com/docs/api/payments/subscriptions/#request-parameters-2) for further information. Please let us know if you need any help

[2022-11-14 05:30] ankitdas13 commented on #91
Hi @fyodorfs, I apologise for the long delay ,
Thank you for bringing this to our attention. We have added this to our roadmap, it will be updated in the future and we will let you know in this issue as well.